form {
  display: flex;
  justify-content: center;
  padding: 1em;
}

fieldset {
  border: none;
}

legend {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #ec5d57;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

label {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 1em;
}

input {
  width: 32em;
  height: 3em;
  border-color: #a9a9a9;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
}

select {
  width: 32em;
  height: 3em;
  background-color: #f3f3f3;
  border-color: #a9a9a9;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: normal;
}

.form-question {
  padding: 1em 0 0 0;
}

::placeholder {
  font-family: 'AtlasGrotesk', sans-serif;
  color: #a9a9a9;
}

button {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: #fff;
  text-transform: uppercase;
  width: 6.6em;
  padding: 0.6em;
  background-color: #ec5d57;
  border-style: none;
  border-radius: 3em;
}

.submit-button {
  text-align: right;
  padding: 0.75em 0 0.75em 0.75em;
}
