body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

section {
  background-color: #f7f8fa;
}

h2 {
  font-weight: 800;
}

h3 {
  font-size: 0.9em;
}

p {
  line-height: 4em;
  font-size: 0.9em;
}

.row {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.column-one-fourth {
  flex-basis: 25%;
  margin-left: 1em;
  margin-right: 1em;
}

.screen img {
  width: 100%;
}

.icon img {
  width: 25%;
}
